.git
.venv
.idea
node_modules/
docker-compose.yml
db/
user_data/
backups/
notebooks/
logs/
ml_saved/
__pycache__
csv/
docs/
osm_database_cache_2.zip
*.sql
*.pkl
*.pkl.bak
data/
osm_query_results/
osm_database/cache/
notebooks/
assets/images
assets/js
assets/sass
assets/vendor
files/
scrape/management/util/browser-drivers/
logs/
settings/
backups/
