{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra-css %}
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">

{% endblock %}

{% block pre-main-scripts %}
    <script src="//unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block main-content %}
    <nav id="controller" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span dir="rtl">کجا‌</span>KOJA</a>
            </div>

            <div id="search-form" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="locatum" name="locatum" type="text" class="form-control" placeholder="Locatum">
                    <select id="preposition" name="preposition" class="custom-select">
                        <option selected disabled>Choose a preposition</option>
                        <option value="above">above</option>
                        <option value="across">across</option>
                        <option value="adjacent_to">adjacent to</option>
                        <option value="along">along</option>
                        <option value="alongside">alongside</option>
                        <option value="around">around</option>
                        <option value="at">at</option>
                        <option value="behind">behind</option>
                        <option value="beside">beside</option>
                        <option value="beyond">beyond</option>
                        <option value="by">by</option>
                        <option value="close_to">close to</option>
                        <option value="in">in</option>
                        <option value="inside">inside</option>
                        <option value="near">near</option>
                        <option value="next_to">next to</option>
                        <option value="off">off</option>
                        <option value="on">on</option>
                        <option value="opposite">opposite</option>
                        <option value="outside">outside</option>
                        <option value="over">over</option>
                        <option value="past">past</option>
                        <option value="through">through</option>
                        <option value="towards">towards</option>
                    </select>
                    <input id="relatum" name="relatum" type="text" class="form-control" placeholder="Relatum">
                </div>
                <button id="submitBtn" type="button" class="btn btn-default">Submit</button>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="map"></div>


    {#        <div id="controller" class="container">#}
    {#            <form>#}
    {#                <div class="row">#}
    {#                    <div class="input-group">#}
    {#                        <div class="input-group-prepend">#}
    {#                            <span class="input-group-text" id="">First and last name</span>#}
    {#                        </div>#}
    {#                        <input type="text" class="form-control">#}
    {#                        <input type="text" class="form-control">#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {##}
    {#                <div class="input-group">#}
    {#                    <div class="input-group-prepend">#}
    {#                        <span class="input-group-text" id="">First and last name</span>#}
    {#                    </div>#}
    {#                    <input type="text" class="form-control">#}
    {#                    <input type="text" class="form-control">#}
    {#                </div>#}
    {##}
    {#                <div class="row px-0">#}
    {#                    <div class="col-xs-4 px-1 px-sm-2">#}
    {#                        <label for="locatum">Locatum</label>#}
    {#                        <input type="text" class="form-control" id="locatum"/>#}
    {#                    </div>#}
    {#                    <div class="col-xs-4 px-1 px-sm-2">#}
    {##}
    {#                    </div>#}
    {#                    <div class="col-xs-4 px-1 px-sm-2">#}
    {#                        <label for="relatum">Relatum</label>#}
    {#                        <input type="text" class="form-control" id="relatum"/>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </form>#}
    {#        </div>#}
{% endblock %}
