@import "../variables";
@import "../../../node_modules/bootswatch/simplex/_variables.scss";

$navbar-height: 42px;
$footer-height: 40px;

#search-form {
  display: flex;
  justify-content: flex-end;

  .dropdown {
    width: unset;
  }

  .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: white;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: white;
  }
}

#map {
  height: calc(100vh - #{$navbar-height} - #{$footer-height});
  width: 100%;
  margin-top: $navbar-height;
}

#footer {
  height: $footer-height;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $gray-darker;
  color: white;

  .fa-linkedin-square {
    color: #0072b1;
  }

  a {
    color: unset;
    text-decoration: underline;
  }
}

#controller {
  height: $navbar-height;
  width: 100%;
  margin-bottom: 0 !important;
  border-radius: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: $brand-primary;
  border: 1px solid $brand-primary;
  color: white;
}


.ui-menu-item-wrapper {
  padding: 10px 15px;
}

.ui-widget {
  &.ui-widget-content {
    border: 1px solid $brand-primary !important;
    background: white;
    width: 380px !important;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  z-index: 9999 !important;
  list-style: none;
  padding-left: 0;
  top: $navbar-height;
  max-height: 200px;
  overflow: auto;
}